importFrom(tseriesChaos, embedd, mutual, d2)
importFrom(nnet, nnet)
importFrom(tseries, na.remove)
importFrom(Matrix, norm, Matrix)
importFrom(vars, irf, fevd)
importFrom(forecast, Arima, ets, forecast)
importFrom(mgcv, gam , s, predict.gam, print.gam, print.summary.gam, plot.gam, PredictMat)
importFrom(MASS, ginv)
importFrom(foreach, foreach, "%dopar%", "%:%")
importFrom(mnormt, rmnorm)
importFrom("grDevices", "rgb")
importFrom("graphics", "abline", "axis", "contour", "curve", "image",
             "layout", "legend", "lines", "lines.default", "par",
             "persp", "plot", "points", "segments", "title")
importFrom("methods", "new")
importFrom("stats", "AIC", "acf", "aggregate", "anova", "ar",
             "arima.sim", "as.formula", "as.ts", "coef", "coefficients",
             "confint", "confint.default", "dchisq", "deltat", "density",
             "deviance", "embed", "frequency", "is.ts", "lm", "lm.fit",
             "logLik", "na.omit", "optim", "optimHess", "pacf", "pf",
             "pgamma", "plogis", "plot.ts", "pnorm", "predict",
             "princomp", "printCoefmat", "pt", "qgamma", "quantile",
             "residuals", "rnorm", "sd", "symnum", "time", "ts",
             "ts.plot", "tsp", "tsp<-", "update", "var", "vcov",
             "weighted.mean", "window")
importFrom("utils", "head", "tail", "tail.matrix", "toLatex")


importClassesFrom(urca, ca.jo)

if (exists("BIC", envir=asNamespace("stats"), inherits=FALSE)) {
    importFrom(stats, BIC)
} else {
     importFrom(nlme, BIC)
} 

export(nlar, mse, MAPE, selectSETAR, selectLSTAR, selectNNET,
	autopairs, autotriples, autotriples.rgl,
	delta, delta.test, delta.lin, delta.lin.test,
	llar, llar.predict, llar.fitted, sigmoid, dsigmoid,
	setar, lstar, star, availableModels,
	linear, isLinear, nnetTs, aar,
	star, addRegime, 
	TVAR, TVECM, TVAR.sim, TVAR.boot, TVECM.sim, TVECM.boot,
        TVAR.LRtest, TVECM.SeoTest, TVECM.HStest,
	lineVar, VECM, VAR.sim, VAR.boot, VECM.sim, VECM.boot,
	setar.sim, setarTest,
	MakeThSpec, BBCTest, KapShinTest, resVar, extendBoot, regime, getTh,
	fevd, irf, VARrep, VECM_symbolic, rank.select, lags.select, rank.test,
	predict_rolling, accuracy_stat,
	coefA, coefB, coefPI)
S3method(extend, list)
S3method(isLinear, lstar)
S3method(toLatex, setar)
S3method(toLatex, TVAR)
S3method(toLatex, TVECM)
S3method(toLatex, VAR)
S3method(plot, nlar)
S3method(plot, setar)
S3method(plot, selectSETAR)
S3method(plot, lstar)
S3method(plot, aar)
S3method(plot, TVAR)
S3method(plot, Hansen99Test)
S3method(plot, TVECMSeo06Test)
S3method(plot, TVECMHanSeo02Test)
S3method(predict, nlar)
S3method(predict, VAR)
S3method(predict, TVECM)
S3method(predict, TVAR)
S3method(print, nlar)
S3method(toLatex, nlar)
S3method(print, linear)
S3method(print, nnetTs)
S3method(print, setar)
S3method(print, lstar)
S3method(print, star)
S3method(print, aar)
S3method(print, TVAR)
S3method(print, TVECM)
S3method(print, VAR)
S3method(print, selectSETAR)
S3method(print, Hansen99Test)
S3method(print, BBC2004Test)
S3method(print, KapShin2006Test)
S3method(print, TVARtest)
S3method(print, TVECMHanSeo02Test)
S3method(print, TVECMSeo06Test)
S3method(print, rank.select)
S3method(print, rank.test)
S3method(summary, nlar)
S3method(summary, linear)
S3method(summary, setar)
S3method(summary, lstar)
S3method(summary, aar)
S3method(summary, TVAR)
S3method(summary, TVECM)
S3method(summary, VAR)
S3method(summary, Hansen99Test)
S3method(summary, TVARtest)
S3method(summary, TVECMSeo06Test)
S3method(summary, TVECMHanSeo02Test)
S3method(summary, rank.select)
S3method(summary, rank.test)
S3method(print, summary.nlar)
S3method(print, summary.linear)
S3method(print, summary.setar)
S3method(print, summary.lstar)
S3method(print, summary.aar)
S3method(print, summary.TVAR)
S3method(print, summary.TVECM)
S3method(print, summary.VAR)
S3method(residuals, nlar)
S3method(deviance, nlar)
S3method(fitted, nlar)
S3method(coef, nlar)
S3method(coef, setar)
S3method(coef, lstar)
S3method(AIC, nlar)
S3method(BIC, nlar)
S3method(MAPE, nlar)
S3method(mse, nlar)
S3method(coef, nlVar)
S3method(AIC, nlVar)
S3method(AIC, VECM)
S3method(BIC, nlVar)
S3method(BIC, VECM)
S3method(addRegime, star)
S3method(regime, setar)
S3method(regime, lstar)
S3method(regime, nlVar)
S3method(getTh, default)
S3method(getTh, setar)
S3method(getTh, lstar)
S3method(getTh, summary.setar)
S3method(getTh, nlVar)
S3method(logLik, nlVar)
S3method(logLik, VECM)
S3method(logLik, ca.jo)
S3method(logLik, cajo.test)
S3method(residuals, nlVar)
S3method(deviance, nlVar)
S3method(fitted, nlVar)
S3method(print, llar)
S3method(plot, llar)
S3method(as.data.frame, llar)
S3method(vcov, VAR)
S3method(vcov, TVAR)
S3method(vcov, lstar)
S3method(vcov, setar)
S3method(confint, lstar)
S3method(irf, nlVar)
S3method(predict_rolling, nlVar)
S3method(predict_rolling, nlar)
S3method(predict_rolling, ets)
S3method(predict_rolling, Arima)
S3method(fevd, nlVar)
S3method(VARrep, VECM)
S3method(VARrep, VAR)
S3method(accuracy_stat, pred_roll)
S3method(accuracy_stat, default)

S3method(coefA,VECM)
S3method(coefA,ca.jo)
S3method(coefA,cajo.test)
S3method(coefA,list)
S3method(coefB,VECM)
S3method(coefB,ca.jo)
S3method(coefB,cajo.test)
S3method(coefB,list)
S3method(coefPI,ca.jo)
S3method(coefPI,cajo.test)
S3method(coefPI,default)


useDynLib(tsDyn)
